/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, sass/style.scss */
body {
  background: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  color: #666666;
}
@media (min-width: 31.25em) {
  /* line 43, sass/style.scss */
  body {
    font-size: 16px;
  }
}
@media (min-width: 50em) {
  /* line 43, sass/style.scss */
  body {
    font-size: 18px;
  }
}
@media (min-width: 68.75em) {
  /* line 43, sass/style.scss */
  body {
    font-size: 20px;
  }
}

/* line 62, sass/style.scss */
.slides, .thumbs {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

/* line 68, sass/style.scss */
.slides {
  margin: 0 0.5em 0.5em;
  overflow: hidden;
}

/* line 74, sass/style.scss */
.slide {
  display: inline-block;
  width: 100%;
  height: auto;
  padding-top: 0.5em;
  vertical-align: top;
  text-align: center;
}
@media (min-width: 68.75em) {
  /* line 74, sass/style.scss */
  .slide {
    padding-top: 2em;
  }
}
/* line 86, sass/style.scss */
.slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
@media (min-width: 18.75em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 225px;
  }
}
@media (min-width: 19.375em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 232.5px;
  }
}
@media (min-width: 20em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 240px;
  }
}
@media (min-width: 20.625em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 247.5px;
  }
}
@media (min-width: 21.25em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 255px;
  }
}
@media (min-width: 21.875em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 262.5px;
  }
}
@media (min-width: 22.5em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 270px;
  }
}
@media (min-width: 23.125em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 277.5px;
  }
}
@media (min-width: 23.75em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 285px;
  }
}
@media (min-width: 24.375em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 292.5px;
  }
}
@media (min-width: 25em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 300px;
  }
}
@media (min-width: 28.125em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 337.5px;
  }
}
@media (min-width: 31.25em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 375px;
  }
}
@media (min-width: 34.375em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 412.5px;
  }
}
@media (min-width: 37.5em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 450px;
  }
}
@media (min-width: 40.625em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 487.5px;
  }
}
@media (min-width: 43.75em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 525px;
  }
}
@media (min-width: 46.875em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 562.5px;
  }
}
@media (min-width: 50em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 600px;
  }
}
@media (min-width: 53.125em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 637.5px;
  }
}
@media (min-width: 56.25em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 675px;
  }
}
@media (min-width: 59.375em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 712.5px;
  }
}
@media (min-width: 62.5em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 750px;
  }
}
@media (min-width: 65.625em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 787.5px;
  }
}
@media (min-width: 68.75em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 825px;
  }
}
@media (min-width: 71.875em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 862.5px;
  }
}
@media (min-width: 75em) {
  /* line 86, sass/style.scss */
  .slide img {
    max-width: 100%;
    max-height: 900px;
  }
}
/* line 100, sass/style.scss */
.slide figcaption {
  text-align: left;
  white-space: normal;
}
/* line 104, sass/style.scss */
.slide .attribution {
  font-size: .8em;
  color: #999999;
}

/* line 110, sass/style.scss */
.thumbs {
  position: relative;
  padding-right: 0.25em;
  margin-bottom: 0.5em;
  z-index: 5;
}

/* line 118, sass/style.scss */
.thumb {
  position: relative;
  display: inline-block;
  margin-right: 0.25em;
}
/* line 123, sass/style.scss */
.thumb:first-child {
  margin-left: 0.5em;
}
/* line 127, sass/style.scss */
.thumb img {
  height: 4em;
  width: auto;
}
@media (min-width: 31.25em) {
  /* line 127, sass/style.scss */
  .thumb img {
    height: 5em;
  }
}
@media (min-width: 50em) {
  /* line 127, sass/style.scss */
  .thumb img {
    height: 6em;
  }
}
@media (min-width: 68.75em) {
  /* line 127, sass/style.scss */
  .thumb img {
    height: 7em;
  }
}
/* line 145, sass/style.scss */
.thumb .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 155, sass/style.scss */
.thumb .mask:hover, .thumb .mask:active {
  background: none;
}

/* line 161, sass/style.scss */
.image-gallery {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
/* line 166, sass/style.scss */
.image-gallery:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5em;
  height: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  content: "";
  z-index: 10;
}
/* line 177, sass/style.scss */
.image-gallery:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5em;
  height: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: linear-gradient(right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  content: "";
  z-index: 10;
}

/* line 189, sass/style.scss */
.page-title {
  font-style: italic;
  font-size: 1.5em;
  margin: 0 0.5em;
}
