#content{
	max-width: 850px;
	margin: 0 auto;
}
#galleryList{
	margin-top: 10px;
}
#currentImageContent{
	height: 350px;
	overflow: hidden;
}
#currentImageContainer{
	height: 350px;
	overflow: hidden;
}
.imageContainer{
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
	overflow: hidden;
	border: 1px solid #000;
}
.imageContainer:hover{
	width: 110px;
	height: 110px;
	margin: 0px;
}
.imageContainer > img{
	max-width: 160%;
	margin-left: -20%
}