#js-carousel {
  width: 99vw;
  height: 99vh;
}

.carousel {
  height: 70%;
  width: 70%;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;
  padding: 3%;
}

.center-aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: auto;
  height: auto;
  max-height: 80%;
  border-radius: 5px;
  max-width: 80%;
}

body {
  text-align: center;
}

.button-container {
  position: relative;
  /* top: -50%; */
  bottom: 40%;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.98);
}

button:active {
  background-color: antiquewhite;
  border: 1px inset;
  padding: 4px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10.866px solid transparent;
  border-right: 10px solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10.866px solid transparent;
  border-left: 10px solid black;
}

/* 
got started with animations but didn't have time to finish
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

.animate-left {
  animation-name: tonext;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

.dot {
  background-color: white;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.active {
  background-color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.dot-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 2rem;
  /* I need this height to be 10% of the parent continer*/
}

.title {
  color: white;
}

@media only screen and (max-width: 600px) {
  .dot-container {
    width: 100%;
  }
  .button-container {
    bottom: 20%;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .button-container {
    bottom: 25%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .dot-container {
    width: 250px;
  }
  .button-container {
    bottom: 42%;
  }
}
